$themeColor = #00bcd4
$themeTextColor = #333333
$headerHeight = .78rem

textWrap()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

flexbox()
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;